<!-- Header Start -->
<%- include('clientheader.ejs'); %>
<!-- Header End -->



<!-- Banner Start -->
<section class="main-inner-banner">
	<!-- <span class="bg-icon"></span>
	<div class="inner-banner-shape"></div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="inner-banner-content">
					<h1 class="h1-title">Case Study</h1>
				</div>
			</div>
		</div>
	</div> -->
</section>
<!-- Banner End -->

<!-- Breadcrumb Start -->
<div class="breadcrumb-box">
	<ul>
		<li>
			<a href="/home" title="HOME">HOME</a>
		</li>
		<li>CASE STUDY</li>
	</ul>
</div>
<!-- Breadcrumb End -->

<!-- Case Study Start -->
<section class="page-case-study">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="case-study-tabbing">
					<ul class="nav" id="caseStudyTab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="all-tab" data-bs-toggle="tab"
								data-bs-target="#all" type="button" role="tab" aria-controls="all"
								aria-selected="true">
								All
							</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="Criminal-Defense-tab" data-bs-toggle="tab"
								data-bs-target="#Criminal-Defense" type="button" role="tab"
								aria-controls="Criminal-Defense" aria-selected="false">
								Criminal Defense
							</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="Family-Law-Divorce-tab" data-bs-toggle="tab"
								data-bs-target="#Family-Law-Divorce" type="button" role="tab"
								aria-controls="Family-Law-Divorce" aria-selected="false">
								Family Law & Divorce
							</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="Personal-Injury-Claims-tab" data-bs-toggle="tab"
								data-bs-target="#Personal-Injury-Claims" type="button" role="tab"
								aria-controls="Personal-Injury-Claims" aria-selected="false">
								Personal Injury Claims
							</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="Education-Legal-tab" data-bs-toggle="tab"
								data-bs-target="#Education-Legal" type="button" role="tab"
								aria-controls="Education-Legal" aria-selected="false">
								Education Legal
							</button>
						</li>
					</ul>
				</div>
				<div class="case-study-tab-content">
					<div class="tab-content" id="caseStudyTabContent">
						<div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">

							<div class="row">
								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Legal-Masters.jpg" width="480" height="610" alt="Legal Masters">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Legal Masters">Legal Masters</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Legal Masters"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Justice-Advocate.jpg" width="480" height="610" alt="Justice Advocate">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Justice Advocate">Justice Advocate</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Justice Advocate"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Right-Defenders.jpg" width="480" height="610" alt="Right Defenders">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Right Defenders">Right Defenders</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Right Defenders"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Legal-Solution.jpg" width="480" height="610" alt="Legal Solution">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Legal Solution">Legal Solution</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Legal Solution"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Road-Accident-Case.jpg" width="480" height="610" alt="Road Accident Case">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Road Accident Case">Road Accident Case</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Road Accident Case"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Privacy-Matter.jpg" width="480" height="610" alt="Privacy Matter">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Privacy Matter">Privacy Matter</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Privacy Matter"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Substantial-Risk-Breach.jpg" width="480" height="610" alt="Substantial Risk Breach">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Substantial Risk Breach">Substantial Risk Breach</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Substantial Risk Breach"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Public-Company-Fraud.jpg" width="480" height="610" alt="Public Company Fraud">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Public Company Fraud">Public Company Fraud</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Public Company Fraud"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Nighmare-on-Wall-Street.jpg" width="480" height="610" alt="Nighmare on Wall Street">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Nighmare on Wall Street">Nighmare on Wall Street</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Nighmare on Wall Street"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="tab-pane fade" id="Criminal-Defense" role="tabpanel" aria-labelledby="Criminal-Defense-tab">
							<div class="row">

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Right-Defenders.jpg" width="480" height="610" alt="Right Defenders">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Right Defenders">Right Defenders</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Right Defenders"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Legal-Solution.jpg" width="480" height="610" alt="Legal Solution">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Legal Solution">Legal Solution</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Legal Solution"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Road-Accident-Case.jpg" width="480" height="610" alt="Road Accident Case">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Road Accident Case">Road Accident Case</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Road Accident Case"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Privacy-Matter.jpg" width="480" height="610" alt="Privacy Matter">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Privacy Matter">Privacy Matter</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Privacy Matter"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Public-Company-Fraud.jpg" width="480" height="610" alt="Public Company Fraud">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Public Company Fraud">Public Company Fraud</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Public Company Fraud"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="tab-pane fade" id="Family-Law-Divorce" role="tabpanel" aria-labelledby="Family-Law-Divorce-tab">
							<div class="row">

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Legal-Masters.jpg" width="480" height="610" alt="Legal Masters">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Legal Masters">Legal Masters</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Legal Masters"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Justice-Advocate.jpg" width="480" height="610" alt="Justice Advocate">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Justice Advocate">Justice Advocate</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Justice Advocate"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Road-Accident-Case.jpg" width="480" height="610" alt="Road Accident Case">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Road Accident Case">Road Accident Case</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Road Accident Case"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Privacy-Matter.jpg" width="480" height="610" alt="Privacy Matter">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Privacy Matter">Privacy Matter</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Privacy Matter"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Nighmare-on-Wall-Street.jpg" width="480" height="610" alt="Nighmare on Wall Street">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Nighmare on Wall Street">Nighmare on Wall Street</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Nighmare on Wall Street"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="tab-pane fade" id="Personal-Injury-Claims" role="tabpanel" aria-labelledby="Personal-Injury-Claims-tab">
							<div class="row">

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Nighmare-on-Wall-Street.jpg" width="480" height="610" alt="Nighmare on Wall Street">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Nighmare on Wall Street">Nighmare on Wall Street</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Nighmare on Wall Street"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Justice-Advocate.jpg" width="480" height="610" alt="Justice Advocate">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Justice Advocate">Justice Advocate</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Justice Advocate"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Legal-Masters.jpg" width="480" height="610" alt="Legal Masters">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Legal Masters">Legal Masters</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Legal Masters"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="tab-pane fade" id="Education-Legal" role="tabpanel" aria-labelledby="Education-Legal-tab">
							<div class="row">

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Privacy-Matter.jpg" width="480" height="610" alt="Privacy Matter">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Privacy Matter">Privacy Matter</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Privacy Matter"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Right-Defenders.jpg" width="480" height="610" alt="Right Defenders">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Right Defenders">Right Defenders</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Right Defenders"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Public-Company-Fraud.jpg" width="480" height="610" alt="Public Company Fraud">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Public Company Fraud">Public Company Fraud</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Public Company Fraud"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Legal-Solution.jpg" width="480" height="610" alt="Legal Solution">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Legal Solution">Legal Solution</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Legal Solution"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Road-Accident-Case.jpg" width="480" height="610" alt="Road Accident Case">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Road Accident Case">Road Accident Case</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Road Accident Case"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-lg-4">
									<div class="case-study-box">
										<img src="../assets/images/Nighmare-on-Wall-Street.jpg" width="480" height="610" alt="Nighmare on Wall Street">
										<div class="case-study-box-content">
											<h4 class="h4-title">
												<a href="/case_study_details" title="Nighmare on Wall Street">Nighmare on Wall Street</a>
											</h4>
											<div class="case-study-box-text">
												<p>Fusce sodales nec sem ac volutpat. Aenean vel viverra diam, a laoreet tortor.</p>
												<a href="/case_study_details" class="arrow-btn" title="Nighmare on Wall Street"><i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>
<!-- Case Study End -->

<!-- Footer Start -->
<%- include('clientfooter.ejs'); %>
<!-- Footer End -->

