<!-- Header Start -->
<%- include('clientheader.ejs'); %>
<!-- Header End -->


<!-- Banner Start -->
<section class="main-inner-banner">
	<!-- <span class="bg-icon"></span>
	<div class="inner-banner-shape"></div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="inner-banner-content">
					<h1 class="h1-title">Team Detail</h1>
				</div>
			</div>
		</div>
	</div> -->
</section>
<!-- Banner End -->

<!-- Breadcrumb Start -->
<div class="breadcrumb-box">
	<ul>
		<li>
			<a href="/home" title="HOME">HOME</a>
		</li>
		<li>
			<a href="/team" title="TEAM">TEAM</a>
		</li>
		<li>TEAM DETAIL</li>
	</ul>
</div>
<!-- Breadcrumb End -->

<!-- Team Detail Start -->
<section class="main-team-detail">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="team-detail-img wow left-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
					<div class="team-img-wp">
						<div class="team-img">
							<img src="../assets/images/Michel-Holway.jpg" width="317" height="368" alt="Alex Edward">
						</div>
						<div class="team-social">
							<div class="team-social-share">
								<img src="../assets/images/share-icon.svg" width="15" height="17" alt="Share Icon">
							</div>
							<ul>
								<li><a href="https://facebook.com" title="Follow on Facebook" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
								<li><a href="https://instagram.com" title="Follow on Instagram" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://linkedin.com" title="Follow on LinkedIn" target="_blank"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="team-detail-content wow right-animation" data-wow-duration="0.8s"
					data-wow-delay="0.2s">
					<span class="sub-title">CRIMINAL LAWYER</span>
					<h2 class="h2-title">Michel Holway</h2>
					<div class="team-detail-content-text">
						<p>
							Michel Holway is an experienced criminal lawyer dedicated to providing strong legal representation and strategic defense. With years of expertise in criminal law, he offers clients sound guidance and confident advocacy throughout every stage of their case.
						</p>
						<p>
							His approach combines professionalism, attention to detail, and a deep understanding of legal complexities. Michel ensures that every client receives personalized advice and a fair opportunity for justice.
						</p>
					</div>

					<div class="team-detail-contact">
						<div class="contact-link-box">
							<div class="icon">
								<img src="../assets/images/phone-icon.svg" width="26" height="26" alt="Phone No.">
							</div>
							<div class="text">
								<p>
									<strong>Phone : </strong>
									<a href="tel:919879874987" title="Call on +91 987 9874 987">+91 987 9874 987</a>
								</p>
							</div>
						</div>
						<div class="contact-link-box">
							<div class="icon">
								<img src="../assets/images/email-icon.svg" width="33" height="25" alt="Email Address">
							</div>
							<div class="text">
								<p>
									<strong>Email : </strong>
									<a href="mailto:michelholway@elaw.com" title="Mail on michelholway@elaw.com"><span class="__cf_email__">michelholway@elaw.com</span></a>
								</p>
							</div>
						</div>
						<div class="contact-link-box">
							<div class="icon">
								<img src="../assets/images/Experience-icon.svg" width="26" height="26" alt="Experience">
							</div>
							<div class="text">
								<p>
									<strong>Experience : </strong>
									6 Years
								</p>
							</div>
						</div>
						<div class="contact-link-box">
							<div class="icon">
								<img src="../assets/images/Qualification-icon.svg" width="26" height="26" alt="Qualification">
							</div>
							<div class="text">
								<p>
									<strong>Qualification : </strong>
									LLB, BA.LLB
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="team-professional-info wow left-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
					<h4 class="h4-title">Professional Info</h4>
					<p>
						Michel Holway brings years of experience in criminal law, providing expert defense strategies and comprehensive legal guidance. His approach focuses on clarity, precision, and unwavering client support throughout every case.
					</p>
					<p>
						He is known for his commitment to justice, strong courtroom presence, and ability to craft compelling legal arguments. His dedication ensures each client receives fair representation and personalized attention.
					</p>
					<ul>
						<li>Expert in Criminal and Civil Defense</li>
						<li>Strong track record of successful case resolutions</li>
						<li>Proven ability in negotiation and litigation</li>
						<li>Committed to ethical, client-focused practice</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="team-professional-progressbar wow right-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
					<div class="experience-skill-list" id="progress_bar">
						<div class="experience-skill-bar-box">
							<h4 class="h4-title experience-skill-bar-title">Defense Counsel</h4>
							<div class="h4-title experience-skill-bar-percent">
								<span class="counting" data-count="95">0</span>%
							</div>
							<div class="experience-skill-bar" data-width="95%">
								<div class="experience-skill-bar-inner"></div>
							</div>
						</div>
						<div class="experience-skill-bar-box">
							<h4 class="h4-title experience-skill-bar-title">Legal Consultation</h4>
							<div class="h4-title experience-skill-bar-percent">
								<span class="counting" data-count="88">0</span>%
							</div>
							<div class="experience-skill-bar" data-width="88%">
								<div class="experience-skill-bar-inner"></div>
							</div>
						</div>
						<div class="experience-skill-bar-box">
							<h4 class="h4-title experience-skill-bar-title">Case Preparation & Strategy</h4>
							<div class="h4-title experience-skill-bar-percent">
								<span class="counting" data-count="90">0</span>%
							</div>
							<div class="experience-skill-bar" data-width="90%">
								<div class="experience-skill-bar-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- Team Detail End -->

<!-- Related Member Start -->
<section class="mail-related-member">
	<div class="container">
		<div class="related-member-title text-center">
			<span class="sub-title">RELATED MEMBER</span>
			<h2 class="h2-title">More Expert Lawyers</h2>
		</div>
		<div class="related-member-list">
			<div class="swiper related-member-slider">
				<div class="swiper-wrapper">

					<div class="swiper-slide">
						<div class="team-box">
							<div class="team-img-wp">
								<div class="team-img">
									<img src="../assets/images/Alex-Edward.jpg" width="317" height="368" alt="Alex Edward">
								</div>
								<div class="team-social">
									<div class="team-social-share">
										<img src="../assets/images/share-icon.svg" width="15" height="17" alt="Share Icon">
									</div>
									<ul>
										<li><a href="https://facebook.com" title="Follow on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="https://instagram.com" title="Follow on Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
										<li><a href="https://linkedin.com" title="Follow on LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
								</div>
							</div>
							<p>Family Lawyer</p>
							<h4 class="h4-title">
								<a href="/team_detail" title="Alex Edward">Alex Edward</a>
							</h4>
						</div>
					</div>

					<div class="swiper-slide">
						<div class="team-box">
							<div class="team-img-wp">
								<div class="team-img">
									<img src="../assets/images/Harly-Rayan.jpg" width="317" height="368" alt="Harly Rayan">
								</div>
								<div class="team-social">
									<div class="team-social-share">
										<img src="../assets/images/share-icon.svg" width="15" height="17" alt="Share Icon">
									</div>
									<ul>
										<li><a href="https://facebook.com" title="Follow on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="https://instagram.com" title="Follow on Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
										<li><a href="https://linkedin.com" title="Follow on LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
								</div>
							</div>
							<p>Civil Lawyer</p>
							<h4 class="h4-title">
								<a href="/team_detail" title="Harly Rayan">Harly Rayan</a>
							</h4>
						</div>
					</div>

					<div class="swiper-slide">
						<div class="team-box">
							<div class="team-img-wp">
								<div class="team-img">
									<img src="../assets/images/Jennifer-Cailen.jpg" width="317" height="368" alt="Jennifer Cailen">
								</div>
								<div class="team-social">
									<div class="team-social-share">
										<img src="../assets/images/share-icon.svg" width="15" height="17" alt="Share Icon">
									</div>
									<ul>
										<li><a href="https://facebook.com" title="Follow on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="https://instagram.com" title="Follow on Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
										<li><a href="https://linkedin.com" title="Follow on LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
								</div>
							</div>
							<p>Senior Lawyer</p>
							<h4 class="h4-title">
								<a href="/team_detail" title="Jennifer Cailen">Jennifer Cailen</a>
							</h4>
						</div>
					</div>

					<div class="swiper-slide">
						<div class="team-box">
							<div class="team-img-wp">
								<div class="team-img">
									<img src="../assets/images/Andrew-Bon.jpg" width="317" height="368" alt="Andrew Bon">
								</div>
								<div class="team-social">
									<div class="team-social-share">
										<img src="../assets/images/share-icon.svg" width="15" height="17" alt="Share Icon">
									</div>
									<ul>
										<li><a href="https://facebook.com" title="Follow on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="https://instagram.com" title="Follow on Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
										<li><a href="https://linkedin.com" title="Follow on LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
								</div>
							</div>
							<p>Criminal Lawyer</p>
							<h4 class="h4-title">
								<a href="/team_detail" title="Andrew Bon">Andrew Bon</a>
							</h4>
						</div>
					</div>

					<div class="swiper-slide">
						<div class="team-box">
							<div class="team-img-wp">
								<div class="team-img">
									<img src="../assets/images/Amelia-Scott.jpg" width="317" height="368" alt="Amelia Scott">
								</div>
								<div class="team-social">
									<div class="team-social-share">
										<img src="../assets/images/share-icon.svg" width="15" height="17" alt="Share Icon">
									</div>
									<ul>
										<li><a href="https://facebook.com" title="Follow on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="https://instagram.com" title="Follow on Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
										<li><a href="https://linkedin.com" title="Follow on LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
								</div>
							</div>
							<p>Securities Lawyer</p>
							<h4 class="h4-title">
								<a href="/team_detail" title="Amelia Scott">Amelia Scott</a>
							</h4>
						</div>
					</div>
					
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</section>
<!-- Related Member End -->

<!-- Footer Start -->
<%- include('clientfooter.ejs'); %>
<!-- Footer End -->

