<!-- Header Start -->
<%- include('clientheader.ejs'); %>
<!-- Header End -->


<!-- Banner Start -->
<section class="main-inner-banner">
	<!-- <span class="bg-icon"></span>
	<div class="inner-banner-shape"></div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="inner-banner-content">
					<h1 class="h1-title">Our Team</h1>
				</div>
			</div>
		</div>
	</div> -->
</section>
<!-- Banner End -->

<!-- Breadcrumb Start -->
<div class="breadcrumb-box">
	<ul>
		<li>
			<a href="/home" title="HOME">HOME</a>
		</li>
		<li>OUR TEAM</li>
	</ul>
</div>
<!-- Breadcrumb End -->

<!-- Our Team Start -->
<section class="page-our-team">
	<div class="container">
		<div class="page-team-list">
			<div class="row">

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="team-box wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
						<div class="team-img-wp">
							<div class="team-img">
								<img src="../assets/images/lawyer/Michel-Holway.jpg" width="317" height="368" alt="Michel Holway">
							</div>
							<div class="team-social">
								<div class="team-social-share">
									<img src="../assets/images/share-icon.svg" width="15" height="17" alt="Share Icon">
								</div>
								<ul>
									<li><a href="https://facebook.com" title="Follow on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="https://instagram.com" title="Follow on Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
									<li><a href="https://linkedin.com" title="Follow on LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</div>
						</div>
						<p>Criminal Lawyer</p>
						<h4 class="h4-title">
							<a href="/team_detail" title="Michel Holway">Michel Holway</a>
						</h4>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="team-box wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
						<div class="team-img-wp">
							<div class="team-img">
								<img src="../assets/images/lawyer/George-Damian.jpg" width="317" height="368" alt="George Damian">
							</div>
							<div class="team-social">
								<div class="team-social-share">
									<img src="../assets/images/share-icon.svg" width="15" height="17" alt="Share Icon">
								</div>
								<ul>
									<li><a href="https://facebook.com" title="Follow on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="https://instagram.com" title="Follow on Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
									<li><a href="https://linkedin.com" title="Follow on LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</div>
						</div>
						<p>Property Lawyer</p>
						<h4 class="h4-title">
							<a href="/team_detail" title="George Damian">George Damian</a>
						</h4>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="team-box wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
						<div class="team-img-wp">
							<div class="team-img">
								<img src="../assets/images/lawyer/Jack-Callum.jpg" width="317" height="368" alt="Jack Callum">
							</div>
							<div class="team-social">
								<div class="team-social-share">
									<img src="../assets/images/share-icon.svg" width="15" height="17" alt="Share Icon">
								</div>
								<ul>
									<li><a href="https://facebook.com" title="Follow on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="https://instagram.com" title="Follow on Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
									<li><a href="https://linkedin.com" title="Follow on LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</div>
						</div>
						<p>Corporate Lawyer</p>
						<h4 class="h4-title">
							<a href="/team_detail" title="Jack Callum">Jack Callum</a>
						</h4>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="team-box wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
						<div class="team-img-wp">
							<div class="team-img">
								<img src="../assets/images/lawyer/Amelia-Scott.jpg" width="317" height="368"
									alt="Amelia Scott">
							</div>
							<div class="team-social">
								<div class="team-social-share">
									<img src="../assets/images/share-icon.svg" width="15" height="17"
										alt="Share Icon">
								</div>
								<ul>
									<li><a href="https://facebook.com" title="Follow on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="https://instagram.com" title="Follow on Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
									<li><a href="https://linkedin.com" title="Follow on LinkedIn"target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</div>
						</div>
						<p>Securities Lawyer</p>
						<h4 class="h4-title">
							<a href="/team_detail" title="Amelia Scott">Amelia Scott</a>
						</h4>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="team-box wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
						<div class="team-img-wp">
							<div class="team-img">
								<img src="../assets/images/Alex-Edward.jpg" width="317" height="368" alt="Alex Edward">
							</div>
							<div class="team-social">
								<div class="team-social-share">
									<img src="../assets/images/share-icon.svg" width="15" height="17" alt="Share Icon">
								</div>
								<ul>
									<li><a href="https://facebook.com" title="Follow on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="https://instagram.com" title="Follow on Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
									<li><a href="https://linkedin.com" title="Follow on LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</div>
						</div>
						<p>Family Lawyer</p>
						<h4 class="h4-title">
							<a href="/team_detail" title="Alex Edward">Alex Edward</a>
						</h4>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="team-box wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
						<div class="team-img-wp">
							<div class="team-img">
								<img src="../assets/images/Harly-Rayan.jpg" width="317" height="368" alt="Harly Rayan">
							</div>
							<div class="team-social">
								<div class="team-social-share">
									<img src="../assets/images/share-icon.svg" width="15" height="17" alt="Share Icon">
								</div>
								<ul>
									<li><a href="https://facebook.com" title="Follow on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="https://instagram.com" title="Follow on Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
									<li><a href="https://linkedin.com" title="Follow on LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</div>
						</div>
						<p>Civil Lawyer</p>
						<h4 class="h4-title">
							<a href="/team_detail" title="Harly Rayan">Harly Rayan</a>
						</h4>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="team-box wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
						<div class="team-img-wp">
							<div class="team-img">
								<img src="../assets/images/Jennifer-Cailen.jpg" width="317" height="368" alt="Jennifer Cailen">
							</div>
							<div class="team-social">
								<div class="team-social-share">
									<img src="../assets/images/share-icon.svg" width="15" height="17" alt="Share Icon">
								</div>
								<ul>
									<li><a href="https://facebook.com" title="Follow on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="https://instagram.com" title="Follow on Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
									<li><a href="https://linkedin.com" title="Follow on LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</div>
						</div>
						<p>Senior Lawyer</p>
						<h4 class="h4-title">
							<a href="/team_detail" title="Jennifer Cailen">Jennifer Cailen</a>
						</h4>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="team-box wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
						<div class="team-img-wp">
							<div class="team-img">
								<img src="../assets/images/Andrew-Bon.jpg" width="317" height="368" alt="Andrew Bon">
							</div>
							<div class="team-social">
								<div class="team-social-share">
									<img src="../assets/images/share-icon.svg" width="15" height="17" alt="Share Icon">
								</div>
								<ul>
									<li><a href="https://facebook.com" title="Follow on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="https://instagram.com" title="Follow on Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
									<li><a href="https://linkedin.com" title="Follow on LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</div>
						</div>
						<p>Criminal Lawyer</p>
						<h4 class="h4-title">
							<a href="/team_detail" title="Andrew Bon">Andrew Bon</a>
						</h4>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- Our Team End -->

<!-- Counter Start -->
<section class="main-counter">
	<div class="container">
		<div class="col-12">
			<div class="counter-list" id="counter">
				<div class="counter-box">
					<div class="counter-title">
						<h2 class="h1-title">
							<span class="counting" data-count="5">0</span>k+
						</h2>
					</div>
					<div class="counter-text">
						<h4 class="h4-title">Our Happy <span>Clients</span></h4>
					</div>
				</div>
				<div class="counter-box">
					<div class="counter-title">
						<h2 class="h1-title">
							<span class="counting" data-count="99">0</span>%
						</h2>
					</div>
					<div class="counter-text">
						<h4 class="h4-title">Success <span>Rate</span></h4>
					</div>
				</div>
				<div class="counter-box">
					<div class="counter-title">
						<h2 class="h1-title">
							<span class="counting" data-count="10">0</span>
						</h2>
					</div>
					<div class="counter-text">
						<h4 class="h4-title">Experience <span>We Have</span></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Counter End -->

<!-- Testimonials Start -->
<section class="main-testimonials">
	<span class="testimonial-bg-shape"><img src="../assets/images/testimonial-bg-shape.svg" width="405" height="641" alt="Testimonial Shape"></span>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="testimonials-title text-center">
					<span class="sub-title">TESTIMONIALS</span>
					<h2 class="h2-title">What Our Clients Say About eLaw</h2>
				</div>
				<div class="testimonial-slider swiper">
					<div class="swiper-wrapper">

						<div class="swiper-slide">
							<div class="testimonial-box">
								<div class="testimonial-box-shape">
									<img src="../assets/images/testimonial-box-shape.svg" width="170" height="55" alt="Shape">
								</div>
								<span class="quote-icon"><img src="../assets/images/Quote.svg" width="76" height="56" alt="Quote"></span>
								<div class="testimonial-img back-img" style="background-image: url('../assets/images/testimonial-img1.jpg')"></div>
								<div class="review-by">
									<h4 class="h4-title">Aarav Mehta</h4>
									<p>Corporate Client</p>
								</div>
								<div class="testimonial-text">
									<p>
										“eLaw simplified our entire case management process.  
										From document uploads to billing — everything is seamless.  
										The platform saved us countless hours of administrative work.”
									</p>
								</div>
								<div class="testimonial-ratting">
									<i class="fas fa-star"></i><i class="fas fa-star"></i>
									<i class="fas fa-star"></i><i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</div>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="testimonial-box">
								<div class="testimonial-box-shape">
									<img src="../assets/images/testimonial-box-shape.svg" width="170" height="55" alt="Shape">
								</div>
								<span class="quote-icon"><img src="../assets/images/Quote.svg" width="76" height="56" alt="Quote"></span>
								<div class="testimonial-img back-img" style="background-image: url('../assets/images/testimonial-img2.jpg')"></div>
								<div class="review-by">
									<h4 class="h4-title">Neha Sharma</h4>
									<p>Independent Lawyer</p>
								</div>
								<div class="testimonial-text">
									<p>
										“As a solo practitioner, eLaw became my digital office.  
										Client communication, case updates, and invoices — all in one dashboard.  
										It’s the smartest investment I’ve made for my practice.”
									</p>
								</div>
								<div class="testimonial-ratting">
									<i class="fas fa-star"></i><i class="fas fa-star"></i>
									<i class="fas fa-star"></i><i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</div>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="testimonial-box">
								<div class="testimonial-box-shape">
									<img src="../assets/images/testimonial-box-shape.svg" width="170" height="55" alt="Shape">
								</div>
								<span class="quote-icon"><img src="../assets/images/Quote.svg" width="76" height="56" alt="Quote"></span>
								<div class="testimonial-img back-img" style="background-image: url('../assets/images/testimonial-img2.jpg')"></div>
								<div class="review-by">
									<h4 class="h4-title">Rohan Gupta</h4>
									<p>Startup Founder</p>
								</div>
								<div class="testimonial-text">
									<p>
										“We used eLaw for compliance and contracts.  
										The support team is excellent, and the automated reminders keep our legal work on track.  
										Highly recommend to every growing business.”
									</p>
								</div>
								<div class="testimonial-ratting">
									<i class="fas fa-star"></i><i class="fas fa-star"></i>
									<i class="fas fa-star"></i><i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</div>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="testimonial-box">
								<div class="testimonial-box-shape">
									<img src="../assets/images/testimonial-box-shape.svg" width="170" height="55" alt="Shape">
								</div>
								<span class="quote-icon"><img src="../assets/images/Quote.svg" width="76" height="56" alt="Quote"></span>
								<div class="testimonial-img back-img" style="background-image: url('../assets/images/testimonial-img1.jpg')"></div>
								<div class="review-by">
									<h4 class="h4-title">Simran Kaur</h4>
									<p>Legal Consultant</p>
								</div>
								<div class="testimonial-text">
									<p>
										“The eLaw dashboard is beautifully designed and very intuitive.  
										It bridges the gap between lawyers and clients with real-time transparency and updates.”
									</p>
								</div>
								<div class="testimonial-ratting">
									<i class="fas fa-star"></i><i class="fas fa-star"></i>
									<i class="fas fa-star"></i><i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</div>
							</div>
						</div>

					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Testimonials End -->
		
<!-- Footer Start -->
<%- include('clientfooter.ejs'); %>
<!-- Footer End -->

