<!-- views/firmstaff/view_clients_table.ejs -->

<div class="table-responsive client-table">
  <table id="clientTable" class="table table-striped table-bordered table-nowrap align-middle">
    <thead>
      <tr>
        <th>#</th>
        <th data-col="type">Type</th>
        <th data-col="trn">TRN</th>
        <th data-col="name">Client</th>
        <th data-col="email">Email</th>
        <th data-col="phone">Phone</th>
        <th data-col="location">Location</th>
        <th data-col="portal">Portal</th>
        <th data-col="created">Created</th>
        <th data-col="status">Status</th>
        <th data-col="actions">Actions</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
